


.divbtn{
    margin-top: 25px;
    padding-left: 25%;
}

.btn{
  display:inline-block;
  background-color: black;
  border: 2px solid transparent;
  border-radius: 15px;
  width: 30%;
  margin-left: 3%;
  margin-top: 6px;
  color: white;
  font-weight: 700;
}

.btn:hover{
  background-color: #FF4500;
  border: 2px solid transparent;
  border-radius: 15px;
  margin-top: 6px;
  color: white;
  font-weight: 700;
}